<form action="/api/users/putImg/{{userId}}?_method=PUT" method="POST" enctype="multipart/form-data">
  {{!-- 先設定改userId=5 --}}

  <div>
    <h3>Upload Img</h1>
  </div>

  <div>
    <input type="file" id="avatar" name="avatar">
  </div>

  <div>
    <input type="file" id="cover" name="cover">
  </div>

  <div>
    <label for="introduction">introduction</label>
    <textarea id="introduction" name="introduction"></textarea>
  </div>

  <div>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>