<img class="card-img-top img-fluid" src="{{avatarFile}}" alt="Card image cap" width="286px" height="180px"
  style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">

<h1>----------</h1>

<img class="card-img-top img-fluid" src="{{coverFile}}" alt="Card image cap" width="286px" height="180px"
  style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">