<img class="card-img-top img-fluid" src="{{user.avatar}}" alt="Card image cap" width="286px" height="180px"
  style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
<h1>----------</h1>
<img class="card-img-top img-fluid" src="{{user.cover}}" alt="Card image cap" width="286px" height="180px"
  style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
<h1>----------</h1>
<h1>{{user.name}}</h1>
<h1>----------</h1>
<h1>{{user.introduction}}</h1>